.top-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 1rem;
}
.btn-wrapper .control-btn {
  background-color: transparent;
}
.top-results ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-results ul li {
  font-size: 1.5rem;
}
.top-results ul li:hover {
  background-color: transparent;
}
