.loader-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: black;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(1);
  z-index: 100;
  transition: all 0.5s ease;
}

.loader {
  border-radius: 50%;
  border-top: 5px solid white;
  border-right: 5px solid green;
  border-bottom: 5px solid black;
  border-left: 5px solid blue;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: relative;
  z-index: 101;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
