.menu-wrapper {
  width: 78px;
  height: 78px;
  transform: rotate(0deg);
  transition: var(--transition-ease);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
  background: black;
  align-self: flex-start;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.menu-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-wrapper > div > span {
  display: block;
  position: absolute;
  height: 2px;
  width: 38px;
  background: white;
  border-radius: 5px;
  opacity: 1;
  left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menu-wrapper > div > span:nth-child(1) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-wrapper > div > span:nth-child(2) {
  top: 37px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-wrapper > div > span:nth-child(3) {
  top: 50px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-wrapper.open > div > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 24px;
  left: 26px;
}

.menu-wrapper.open > div > span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.menu-wrapper.open > div > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50px;
  left: 26px;
}

.options-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  max-height: 100%;
  transition: var(--transition-ease);
}

.roll-up {
  overflow: hidden;
  padding: 0;
  max-height: 0;
  transition: var(--transition-ease);
}

.options-wrapper > * {
  opacity: 1;
  transition: var(--transition-ease);
}

.options-wrapper.roll-up > * {
  opacity: 0;
}

.options {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
