.card {
  width: 105.9375px;
  height: 147.1875px;
  background-position: center;
  background-size: cover;
  margin: 12px 6px;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 5px;
}

.card.back {
  background-image: url("../../images/back.jpg");
}

.card.with-animation {
  animation: drawCard 0.5s ease-in;
}

@keyframes drawCard {
  0% {
    opacity: 0;
    transform: translateX(50px) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@media screen and (max-width: 1440px) {
  .card {
    width: 95.34375px;
    height: 132.46875px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 85.81px;
    height: 119.22px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 77.23px !important;
    height: 107.3px !important;
  }
}
