.feedback-wrapper {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-wrapper > div.feedback-content {
  flex: 1;
}

.chips {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/chip.png");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.feedback-content {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin: 0 32px;
}

.card-pile-wrapper {
  position: relative;
}
.card-pile {
  border: 1px solid black;
  border-radius: 5px;
  width: 105.9375px;
  height: 147.1875px;
  background-position: center;
  background-size: cover;
  background-image: url("../../images//back.jpg");
  margin: auto;
}
.card-pile::before,
.card-pile::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/back.jpg");
}
.card-pile::after {
  background-image: url("../../images/back.jpg");
  top: -4px;
  left: -4px;
}

@media screen and (max-width: 1440px) {
  .feedback-wrapper {
    min-height: 135px;
  }
  .chips {
    height: 90px;
    width: 90px;
    font-size: 18px;
  }

  .feedback-content {
    font-size: 18px;
    margin: 0 24px;
  }
  .card-pile {
    width: 95.34375px;
    height: 132.46875px;
  }
}

@media screen and (max-width: 992px) {
  .feedback-wrapper {
    min-height: 120px;
  }
  .chips {
    height: 80px;
    width: 80px;
    font-size: 16px;
  }

  .feedback-content {
    font-size: 16px;
    margin: 0 20px;
  }
  .card {
    width: 85.81px;
    height: 119.22px;
  }
}

@media screen and (max-width: 768px) {
  .feedback-wrapper {
    justify-content: center;
    flex-direction: column;
    padding: 16px 0;
  }

  .feedback-wrapper > div {
    flex: 1;
  }

  .feedback-wrapper > div:last-of-type {
    display: none;
  }

  .feedback-content {
    padding-top: 12px;
  }
}
