/* CSS Variables */
:root {
  --color-carolina-blue: rgb(39, 154, 241);
  --color-black-coral: rgb(96, 101, 111);
  --color-smoky-black: rgb(19, 17, 18);
  --color-black-olive: rgb(52, 54, 51);
  --font-stack: "lemonada", "Courier New", Courier, monospace !important;
  --transition-bezier: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-ease: all 0.5s ease;
}
/* Fonts */
@font-face {
  font-family: "lemonada";
  src: url("./fonts/Lemonada-VariableFont_wght.ttf") format("truetype");
}
/* Reset & general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-stack);
  overflow-x: hidden;
  background-color: black;
}
/* Utilities */
.bg-green {
  background-color: rgb(1, 78, 1);
}
.overflow-hidden {
  overflow: hidden;
}
.header-button-like {
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  max-width: 100%;
  height: 56px;
  background-color: var(--color-smoky-black);
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .header-button-like {
    height: 48px;
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .header-button-like {
    width: 225px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header-button-like {
    width: 200px;
    height: 36px;
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .balance {
    width: 100%;
  }
  .balance .header-button-like {
    width: 100%;
  }
}
